body{
  background-color: #071011;
}

.list{
  color: white;
  text-decoration: none;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #B69B6C;
}

.navbar-nav :hover{
  color: #B69B6C;
}
.btn-outline{
  border-color: #B69B6C;
  color: white;
}
.btn:hover{
  background-color: #B69B6C;
}

.banner{
  position: relative;
}

.home-background {
  position: absolute;
  top: -7rem;
  left: 0;
  right: 0;
  width: 100%;
 
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

