@font-face {
  font-family: "lorin";
  src: url(../public/assets/fonts/Lorin-Regular.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "footlight";
  src: url(../public/assets/fonts/FTLTLT.TTF) format("truetype");
  font-weight: 600;
}

body{
  background-color: #071011;
}

.list{
  color: white;
  text-decoration: none;
  font-size: 18px;

}
p{
  font-family:'lorin'
}

h1 {
  font-family: 'footlight';
  font-size:70px;
}
h2 {
  font-family: 'footlight';
}
h3{
  font-family: 'footlight';
}
.display-4{
  font-family: 'footlight';
  font-size:70px;
}
span{
  font-family:'lorin'
}

.text-gold{
  color:#B69B6C
}
/* Buttons */

.btn-outline-login{
  border:1px solid #B69B6C; 

  color:white; 
}
.btn-outline-login:hover{
background-color: #B69B6C;
color:black!important;
}

.btn-searchbar{
  background-color:#B69B6C!important;
  color:black!important;
}

.eg-btn{
  background-color:#B69B6C!important;
  color:black!important;
}
.btn-newsletter{
  border-color:white;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #B69B6C;
  border-bottom: 2px solid;
}

.navbar-nav :hover{
  color: #B69B6C;
}

.nav{
  z-index: 2;
}

.imagechanger{
  position: relative;
 top: -8rem;
  background-size: cover;
}
.imagechangerbook{
  position:relative!important;
  top:0rem!important;
}

.imagelist {
  display: flex;
  justify-content: center;
  position: relative;
  top: -10rem;
  gap: 20px;
}
.imagenavlist {
  color:white;
  text-decoration: none;
}

.list-none{
  list-style-type: none;
  padding: 0px;
  border-bottom: 1px solid;
  border-bottom-color: white;
}
.list-none:hover{
  color: #B69B6C;
}

.list-none li a.active{
  border-bottom: #B69B6C;
}
.imagenavlist{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 10px;
  gap: 10px;
}
.searchbar-section{
  position: relative;
  top: -17rem;
}
.searchbarborder{
  border: 1px solid #B69B6C ;
  border-radius: 10px;
  background-color:rgba(15, 15, 15, 0.705);
  opacity: 30px;
}

.css-qbdosj-Input{
  color: white!important;
}
.css-1jqq78o-placeholder{
  color:white!important;
  font-size:14px!important;
}
.css-1dimb5e-singleValue{
  color:white!important;
}

.gateway{
  position: relative;
  top: -7rem;
}

.calendar-icon{
  color: #B69B6C;
}
.btn{
  background-color: transparent;
}
.form-control::placeholder{
  color:white
}
.form-control{
  color: white;
}
.form-control:focus{
  color: white;
}
.css-rmj9x9-control{
  color: white;
}


.bgcard{
  background-color: #071011;
  color:white;
  width: 25rem;
  overflow: hidden;
}


/* App.css */
.bg-image {
  /* Add your background image URL here */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../public/assets/banner3.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.footerlist{
  text-decoration: none;
  color: white;
}
.egns-lab{
  color:#B69B6C ;
  text-decoration: none;
}
.form-newsletter {
  background-color: #071011;
  border: 1px solid white;
  border-radius: 10px;
}


/* Bookings */
.bookings{
  position:"relative";
}
.panel-body{
  background-color: #1E2526;
  
}
.dimension{
  background-color: #292C2C;
  font-size: 14px;
}
.amenities-list{
  list-style: none;
  padding: 0;

  font-size: 14px;
}
.tags{
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
}
.tagged_as{
  margin-top: 20px;
}
.otherrooms{
  background-color: #071011;
  color: white;
}

/* Order Details */

.orderform{
  background-color: #1E2526;
}
.orderforminput{
  width: 90%;
  border: 1px solid #B69B6C;
  border-radius: 5px;
    padding: 0.3rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    line-height: 1.5;
}
.orderforminput:focus{
  border-color: #B69B6C;
}
.form-check-input:checked{
  background-color: #B69B6C;
    border-color: #B69B6C;
}
.card_details{
  background-color: #1E2526;
  
}
.payment_card{
  border: 0;
}
.payment_form{
  border: 1px solid #606565;
  border-radius: 5px;
    padding: 0.3rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    line-height: 1.5;
}
.payment_form::placeholder{
  color:#4A4F4F
}
.form-group{
  display: grid;
  gap: 10px;
  margin-bottom: .8rem;
}
@media only screen and (max-width: 600px) {
  .searchbar-section{
    
    position: static;
  }
  .imagelist{
    position: static;
  }
  .list-none{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
   
  }
  .searchbar-mobile{
    gap: 25px;
  }
  .blog_card{

    gap: 60px;
  }
  .react-multi-carousel-item  {
    width: 500px;
  }
  .gateway{
    position: static;
    margin-top: 3rem;
  }
  .imagechanger{
    position: static;
  }
  .carousel{
    width: 100% !important;
  }
  
}


